<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Home Page</title>

</head>

<body>
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <span class="fa fa-bars fa-sm"></span>
    </span>
    <div>
      <a href="home2.html">
        <img src="logo-nav.jpg" height="50" width="120">
      </a>
    </div>
    <div>
      <ul class="main-nav" id="js-menu">
        <li>
          <a href="#" class="nav-links"><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
          <a href="about2.html" class="nav-links"><span class="fa fa-info"></span> About Us</a>
        </li>
        <li>
          <a href="contact2.html" class="nav-links"><span class="fa fa-address-book"></span> Contact Us</a>
        </li>
        <li>
          <a href="signin.html" class="nav-links"><span class="fa fa-sign-in"></span> Sign In</a>
        </li>
        <li>
          <a href="register2.html" class="nav-links"><span class="fa fa-user-plus"></span> Register</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <div class="row row-header">
        <div class="col-12 col-sm-8">
          <h1>WELCOME TO HOME PAGE</h1>
          <p>Attendance made easy!!</p>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br>

  <footer class="footer-distributed">

    <div class="footer-left">

      <p class="footer-links">
        <a href="#">Home</a>
        |
        <a href="about2.html">About</a>
        |
        <a href="contact2.html">Contact</a>
      </p>

      <p class="footer-company-name">© 2020 Mukand.All Rights Reserved</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>JMIT
            Radaur,Yamuna-nagar</span></p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+91 22-27782183</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:director@jmit.ac.in">director@jmit.ac.in</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About the institute</span>
        To Produce World Class Engineers,Managers and Technologies with Training of Head, Heart and Hands Employable
        anywhere in the world</p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </footer>

  <script src="script.js"></script>
</body>

</html>