<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
        integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>

<body>

    <br>
    <div>
        <center><img
                src="logo.png" height="100" width="400"></center>
    </div>
    <br><br>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form method="POST" class="col-md-9">
                <div class="AppForm shadow-lg">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div class="AppFormLeft">

                                <br>
                                <h1>Register</h1>
                                <br>
                                <div class="form-group position-relative mb-4">
                                    <input type="text"
                                        class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none"
                                        id="username" placeholder="Username">
                                    <i class="fa fa-user-o fa-sm"></i>
                                </div>
                                <div class="form-group position-relative mb-4">
                                    <input type="email"
                                        class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none"
                                        id="username" placeholder="Email">
                                    <i class="fa fa-envelope-o fa-sm"></i>
                                </div>
                                <div class="form-group position-relative mb-4">
                                    <input type="password"
                                        class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none"
                                        id="password" placeholder="Password">
                                    <i class="fa fa-key fa-sm"></i>
                                </div>
                                <div class="form-group position-relative mb-4">
                                    <div class="container">
                                        <select id="select-state" placeholder="Pick a Course">
                                            <option value="">Select a Course...</option>
                                            <option value="1">1CO1</option>
                                            <option value="2">1CO2</option>
                                            <option value="3">2CO1</option>
                                            <option value="4">2CO2</option>
                                            <option value="5">3CO1</option>
                                            <option value="6">3CO2</option>
                                            <option value="7">4CO1</option>
                                            <option value="8">4CO2</option>

                                            <option value="9">IT1</option>
                                            <option value="10">IT2</option>
                                            <option value="11">IT3</option>
                                            <option value="12">IT4</option>

                                            <option value="13">ME1</option>
                                            <option value="14">ME2</option>
                                            <option value="15">ME3</option>
                                            <option value="16">ME4</option>

                                            <option value="17">ECE1</option>
                                            <option value="18">ECE2</option>
                                            <option value="19">ECE3</option>
                                            <option value="20">ECE4</option>

                                            <option value="21">EE1</option>
                                            <option value="22">EE2</option>
                                            <option value="23">EE3</option>
                                            <option value="24">EE4</option>

                                            <option value="25">BCA1</option>
                                            <option value="26">BCA2</option>
                                            <option value="27">BCA3</option>
                                            <option value="28">BCA4</option>

                                            <option value="29">MCA1</option>
                                            <option value="30">MCA2</option>
                                            <option value="31">MCA3</option>
                                            <option value="32">MCA4</option>

                                            <option value="33">BBA1</option>
                                            <option value="34">BBA2</option>
                                            <option value="35">BBA3</option>
                                            <option value="36">BBA4</option>

                                            <option value="37">MBA1</option>
                                            <option value="38">MBA2</option>
                                            <option value="39">MBA3</option>
                                            <option value="40">MBA4</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block shadow border-0 py-2 text-uppercase ">
                                    <a href="signin.html" style="color:white">Register</a>
                                </button>

                                <p class="text-center mt-5">
                                    Already have an account?
                                    <span><a href="signin.html">Sign In</a></span>
                                </p>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div
                                class="AppFormRight position-relative d-flex justify-content-center flex-column align-items-center text-center p-5 text-white">
                                <h2 class="position-relative px-4 pb-3 mb-4">Welcome</h2>
                                <p>To Produce World Class Engineers,Managers and Technologies with Training of Head,
                                    Heart and Hands Employable
                                    anywhere in the world.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('select').selectize({
                sortField: 'text'
            });
        });
    </script>
</body>

</html>